@charset "utf-8";

@media only screen and (min-width:768px) and (max-width:1023px){
    .contents .nav .inner-nav .navThumbnail{

        background: #000;
    }
/*
    .contents .nav .inner-nav .navInfo{
        position: absolute;
        width: 100%;
        background: #000;
    }
    .contents .nav .inner-nav .navInfo >ul >li img{
        width: 77px;
        display: block;
        left: 0;
        bottom: 50px;
        position: absolute;
    }
    .contents .nav .inner-nav .navInfo >ul >li h1 a{
        color: #fff;
    }
*/
}